body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#board {
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
    border: 4px solid rgb(198, 5, 5);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(219, 5, 5);
    background-color: goldenrod;

}
#status {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}


.winner {
    color: red;
    font-size: 28px;
}


.draw {
    color: rgb(255, 0, 0);
    font-size: 30px;
}
